.how-it-works {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% - 4rem);
  height: 60%;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4rem 2rem;
  border-radius: 32px;
  background-color: #f5f6f8;
}

@media screen and (max-width: 640px) {
  .how-it-works {
    top: 100px;
    width: calc(100% - 2rem);
    height: 70%;
  }
}

.how-it-works h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.35;
}

@media screen and (max-width: 640px) {
  .how-it-works h2 {
    font-size: 28px;
  }
}

.how-it-works h2 span {
  color: #00aeef;
}

.how-it-works ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .how-it-works ul {
    flex-direction: column;
    margin-top: 20px;
  }
  .how-it-works ul li {
    margin-top: 20px;
    margin-right: none;
  }
}

.how-it-works ul li {
  display: flex;
  align-items: center;
  margin-right: 32px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
}

.how-it-works ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  background-color: #00aeef;
  border-radius: 100%;
}
